.favorites{

   h1{
      margin: 0;
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 40px;
   }

   .favoriteCards{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      }
}


